<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{title.admin.recipes}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<div th:replace="~{admin/fragments/common.html :: common-css}"/>
	<link rel="stylesheet" th:href="@{/css/admin/common.css}" />
	<link rel="stylesheet" th:href="@{/css/admin/recipes.css}" />
	<div th:replace="~{admin/fragments/common.html :: common-js}"/>
	<script th:src="@{/js/recipes.js}">
	</script>
	<script th:src="@{/js/editor/nicEdit.js}">
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			loadRecipesPage();
		});
	</script>
</head>
<body>
	<div class="container">
		
		<div th:replace="~{admin/fragments/common.html :: header}"></div>
		
		<div class="content-wrap">
			<div>
				<div class="left-column-top">
					<a th:href="@{/recipes}" th:text="#{back.to.recipes.page}"></a>
				</div>
				<div class="errors-column">
					Errors area
				</div>
				<br clear="all"/>
			</div>
			<div class="left-column">
				<input type="button" th:value="#{admin.ingredients.new.recipe}">
				<div class="left-items-container">
					<div class="item active"><span class="item-link">Горячее блюдо Запеченный картофель</span><span class="remove-from-list">x</span></div>
					<div class="item"><span class="item-link">Салат "Тигрица"</span><span class="remove-from-list">x</span></div>
					<br clear="all"/>
				</div>
				<br clear="all"/>
			</div>
			<div class="right-inputs-column">
				<input type="text" name="ingredient_name" class="item-name" th:placeholder="#{admin.input.recipename.caption}" />
				<p/>
				<select name="dishtype" class="select-input">
					<option value="0" th:text="#{admin.select.dishtype.caption}"></option>
					<option value="1">Суп</option>
					<option value="2">Салат</option>
				</select>
				<p/>
				
				<fieldset class="inputs-set">
					<legend th:text="#{admin.fieldset.ingredients.caption}"></legend>
					<select name="ingredient" class="select-input">
						<option value="0" th:text="#{admin.select.ingredient.caption}"></option>
						<option value="1">Картофель</option>
						<option value="2">Морковь</option>
					</select>
					<br/>
					<input type="text" name="ingredient_count" class="ingredient-count" th:placeholder="#{admin.input.ingredientcount.caption}" />
					<select name="ingredient_count_measure" class="ingredient_count_measure">
						<option value="0" th:text="#{admin.select.ingredient.measure.caption}"></option>
						<option value="1">шт</option>
						<option value="2">гр</option>
						<option value="2">л</option>
						<option value="3">столовых ложек</option>
					</select>
					<br/>
					<input type="button" th:value="#{admin.button.add.ingredient}" />
					<p/>
					<div id="ingredients-list" class="selected-list">
						<div class="item">
							<span>Картофель</span>
							<div class="measure-container">
								<input type="text" name="ingredient_count" class="ingredient-count" th:placeholder="#{admin.input.ingredientcount.caption}" />
								<select name="ingredient_count_measure" class="ingredient_count_measure">
									<option value="0" th:text="#{admin.select.ingredient.measure.caption}"></option>
									<option value="1">шт</option>
									<option value="2">гр</option>
									<option value="2">л</option>
									<option value="3">столовых ложек</option>
								</select>
								<span class="whitespace"> </span>
								<span class="remove-from-list">x</span>
							</div>
						</div>
						<div class="item">
							<span>Морковь</span>
							<div class="measure-container">
								<input type="text" name="ingredient_count" class="ingredient-count" th:placeholder="#{admin.input.ingredientcount.caption}" />
								<select name="ingredient_count_measure" class="ingredient_count_measure">
									<option value="0" th:text="#{admin.select.ingredient.measure.caption}"></option>
									<option value="1">шт</option>
									<option value="2">гр</option>
									<option value="2">л</option>
									<option value="3">столовых ложек</option>
								</select>
								<span class="whitespace"> </span>
								<span class="remove-from-list">x</span>
							</div>
						</div>
					</div>
				</fieldset>
				<br/>
				<div class="html-editor">
					<div class="inner-area">
						<textarea name="html-editor" style="width: 749px;" rows="21"></textarea>
					</div>
					<br clear="all"/>
				</div>
				<br/>
				
				<input type="button" th:value="#{admin.button.save.recipe}" />
			</div>
			
			<br clear="all"/>
		</div>
	</div>
</body>
</html>
