<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{title.admin.recipes}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<div th:replace="~{admin/fragments/common.html :: common-css}"></div>
	<link rel="stylesheet" th:href="@{/css/admin/common.css}" />
	<link rel="stylesheet" th:href="@{/css/admin/recipes.css}" />
	<script th:src="@{/js/editor/nicEdit.js}">
	</script>
	<div th:replace="~{admin/fragments/common.html :: common-js}"></div>
	<script th:src="@{/js/recipes.js}">
	</script>
	<script th:src="@{/js/underscore-min.js}">
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			loadRecipesPage();
		});
	</script>
</head>
<body>
	<div class="container">
		
		<div th:replace="~{admin/fragments/common.html :: header}"></div>
		
		<div class="content-wrap">
			<div>
				<div class="left-column-top">
					<a th:href="@{/recipes}" th:text="#{back.to.recipes.page}"></a>
				</div>
				<div class="errors-column">
				</div>
				<br clear="all"/>
			</div>
			<div class="left-column">
				<input type="button" onclick="cleanInputs(); return false;" th:title="#{admin.ingredients.new.recipe.title}" th:value="#{admin.ingredients.new.recipe}">
				<div class="left-items-container">
					<div th:each="recipe : ${recipes}" class="item">
						<span class="item-link" th:id="${recipe.id}" th:text="${recipe.dishType.name + ' ' + recipe.name}"></span>
						<span class="remove-from-list">x</span>
					</div>
					<br clear="all"/>
				</div>
				<br clear="all"/>
			</div>
			<div class="right-inputs-column">
				<input type="hidden" name="recipe_id" value=""/>
				<input type="text" name="recipe_name" class="item-name" th:placeholder="#{admin.input.recipename.caption}" />
				<p></p>
				<select name="dishtype" class="select-input">
					<option value="null" selected="selected" disabled="disabled" th:text="#{admin.select.dishtype.caption}"></option>
					<option th:each="dishType : ${dishTypes}" th:value="${dishType.id}" th:text="${dishType.name}"></option>
				</select>
				<p></p>
				
				<fieldset class="inputs-set">
					<legend th:text="#{admin.fieldset.ingredients.caption}"></legend>
					<select name="ingredient" id="ingredients" class="select-input">
						<option value="null" selected="selected" disabled="disabled" th:text="#{admin.select.ingredient.caption}"></option>
						<option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
					</select>
					<br/>
					
					<div class="hidden">
						<select name="ingredient_count_measure" class="ingredient_count_measure" id="ingredient_count_measure">
							<option value="null" selected="selected" disabled="disabled" th:text="#{admin.select.ingredient.measure.caption}"></option>
							<option th:each="ingredientMeasure : ${ingredientMeasures}" th:value="${ingredientMeasure.id}" th:text="${ingredientMeasure.name}"></option>
						</select>
					</div>
					
					<input type="button" onclick="addIngredient(); return false;" th:value="#{admin.button.add.ingredient}" />
					<p></p>
					<span th:text="#{admin.recipe.ingredients.list}"></span>
					<div id="ingredients-list" class="selected-list">
					</div>
				</fieldset>
				<br/>
				<div class="html-editor">
					<div class="inner-area">
						<textarea name="html-editor" style="width: 749px;" rows="21"></textarea>
					</div>
					<br clear="all"/>
				</div>
				<br/>
				
				<input type="button" onclick="saveRecipe(); return false;" th:value="#{admin.button.save.recipe}" />
			</div>
			
			<br clear="all"/>
		</div>
	</div>
</body>
</html>
