<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{title.recipes}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<div th:replace="~{fragments/common.html :: common-css}"></div>
	<link rel="stylesheet" th:href="@{/css/recipes.css}" />
	<div th:replace="~{fragments/common.html :: common-js}"></div>
	<script th:src="@{/js/recipes.js}">
	</script>
</head>
<body>
	<div class="container">
		
		<div th:replace="~{fragments/common.html :: header}"></div>
		
		<div class="content-wrap">
			<div class="filters-column">
				<input type="text" name="name" class="recipename" th:placeholder="#{filters.input.recipename.caption}" th:value="${enteredNamePart}" />
				<p/>
				<select name="dishtype" class="select-input">
					<option value="null" th:text="#{filters.select.dishtype.caption}"></option>
					<option th:each="dishType : ${dishTypes}" th:value="${dishType.id}" th:text="${dishType.name}"
								th:selected="${selectedDishTypeId != null && dishType.id == selectedDishTypeId}"></option>
				</select>
				<p/>
				<fieldset class="inputs-set">
					<legend th:text="#{filters.fieldset.ingredients.caption}"></legend>
					<select class="fieldset-select-input" name="ingredients" id="ingredients">
						<option value="null" selected="selected" disabled="disabled" th:text="#{filters.select.ingredients.caption}"></option>
						<option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
					</select>
					<br/>
					<div id="ingredients-list" class="selected-list">
						<th:block th:each="ingredient : ${ingredients}">
							<div th:if="${#lists.contains(selectedIngredientsIds, ingredient.id) == true}" class="item" th:id="${ingredient.id}">
								<span th:text="${ingredient.name}"></span>
								<span class="remove-from-list">x</span>
							</div>
						</th:block>
						<br clear="all"/>
					</div>
				</fieldset>
				<p/>
				<fieldset class="inputs-set">
					<legend th:text="#{filters.fieldset.components.caption}"></legend>
					<select class="fieldset-select-input" name="components" id="components">
						<option value="null" selected="selected" disabled="disabled" th:text="#{filters.select.components.caption}"></option>
						<option th:each="component : ${components}" th:value="${component.id}" th:text="${component.name}"></option>
					</select>
					<br/>
					<div id="components-list" class="selected-list">
						<th:block th:each="component : ${components}">
							<div th:if="${#lists.contains(selectedComponentsIds, component.id) == true}" class="item" th:id="${component.id}">
								<span th:text="${component.name}"></span>
								<span class="remove-from-list">x</span>
							</div>
						</th:block>
						<br clear="all"/>
					</div>
				</fieldset>
				<p/>
				<input type="button" id="search-button" th:value="#{filters.button.search}" />
				<br clear="all"/>
			</div>
			<div class="recipes-column">
				<div th:each="recipe : ${recipes}" class="recipe-container">
					<div class="recipe-name">
						<a th:href="@{'/recipe?id=' + ${recipe.id}}" target="_blank" th:text="${recipe.dishType.name + ' ' + recipe.name}"></a>
					</div>
					<p></p>
					<div class="recipe-ingredients">
						<th:block th:each="ingredient,status : ${recipe.ingredients}" 
								  th:text="${ingredient.name} + ((${#lists.size(recipe.ingredients)} == ${status.index + 1})? '' : ', ')"/>
					</div>
					<br clear="all"/>
				</div>
			</div>
			
			<br clear="all"/>
		</div>
	</div>
</body>
</html>