<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{title.singlerecipe}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<div th:replace="~{fragments/common.html :: common-css}"></div>
	<link rel="stylesheet" th:href="@{/css/singlerecipe.css}" />
	<script th:src="@{/js/jquery/jquery.min.3.1.1.js}">
	</script>
	<script th:src="@{/js/underscore-min.js}">
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			var $unescapedDescriptionDiv = $("div#unescaped-html");
			var description = $unescapedDescriptionDiv.text();
			var unescapedDescription = _.unescape(description);
			$("div.recipe-steps").append($.parseHTML(unescapedDescription));
			$unescapedDescriptionDiv.remove();
		});
	</script>
</head>
<body>
	<div class="container">
		
		<div th:replace="~{fragments/common.html :: header}"></div>
		
		<div class="content-wrap">
			<div class="recipe-name">
				<h2 th:text="${recipe.dishType.name + ' ' + recipe.name}"></h2>
			</div>
			<div class="recipe-ingredients">
				<span th:text="#{recipe.ingredients.list}"></span>
				<ul>
					<li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.name + ' - ' + ingredient.count + ' ' + ingredient.measure.name}"></li>
				</ul>
			</div>
			<div class="invisible" id="unescaped-html" th:text="${recipe.description}"></div>
			<div class="recipe-steps">
			</div>
			
			<br clear="all"/>
		</div>
	</div>
</body>
</html>