<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:fragment="common-css">
			<link rel="stylesheet" th:href="@{/css/common.css}" />
		</div>
		<div th:fragment="common-js">
			<script th:src="@{/js/jquery/jquery.min.3.1.1.js}">
			</script>
			<script th:src="@{/js/admin-common.js}">
			</script>
		</div>
	</head>
	<body>
		<div class="top" th:fragment="header">
			<script type="text/javascript">
				function getContextPath() {
					return $("div#urlCtx").text();
				}
			</script>
			<div style="display: none;" id="urlCtx" th:text="@{/}"></div>
			<form th:action="@{/logout}" method="post">
				<span sec:authentication="name"></span>
				<input type="submit" th:value="#{button.logout}" />
			</form>
			<div class="tabs-wrap">
				<div class="tab" id="statics" onclick="selectTab(this);" th:text="#{tab.statics}"></div>
				<div class="tab" id="ingredients" onclick="selectTab(this);" th:text="#{tab.ingredients}"></div>
				<div class="tab" id="recipes" onclick="selectTab(this);" th:text="#{tab.recipes}"></div>
			</div>
			<br clear="all"/>
		</div>
	</body>
</html>